{{ define "main"}}
    <main id="main">
      <div>
       <h1 id="title">Not found</h1>
       <p>Oops! This page doesn't exist. Try going back <a href="{{ "/" | relURL }}">home</a>.</p>

       <p>You can learn how to make a 404 page like this in <a href="https://gohugo.io/templates/404/">Custom 404 Pages</a>.</p>      
      </div>
    </main>
{{ end }}
